<mat-toolbar>
  <button mat-icon-button aria-label="Open sidenav">
    <mat-icon (click)="onToggleSidenav()" >menu</mat-icon>
  </button>
  <span>RC-I1</span>
  <span class="full-spacer"></span>
</mat-toolbar>

