<app-topbar (sidenavToggle)="sidenav.toggle()" ></app-topbar>
<mat-sidenav-container  autosize>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="content" fxLayoutGap="grid">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
