<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
      <div class="alert alert-success" role="alert" *ngIf="successMessage">{{ successMessage }}
      </div>
        <form [formGroup]='loginForm' (ngSubmit)="login()">
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field>
                    <input matInput placeholder="Username" type="text" formControlName="username">
                  <mat-error *ngIf="loginForm.controls['password'].invalid">{{errorMessage}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" type='password' formControlName="password">
                  <mat-error *ngIf="loginForm.controls['username'].invalid">{{errorMessage}}</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="primary" class="btn-block" [disabled]="!loginForm.valid">Log in</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
